html {
  scroll-behavior: smooth;
}

.scroll-button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 10%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: transform 1s ease;
  }
  
  .scroll-button:hover {
    transform:perspective(1000px) rotateY(360deg);
    background-color: rgb(126, 39, 39);
  }
  