

#headings{
  color: rgb(0, 0, 0);
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: 50px;
}

#contactcontainer{
  display: flex;
  font-size: 20px;
  align-items: center;
}
.container {
    display: flex;              /* Optional: space between columns */
    background-color: black;
  }
  
  .left-column {
    color: rgb(255, 255, 255);
    flex: 2;                   /* Takes up 2 parts of the space */
    padding: 7% 400px 0px 50px; /* Padding for the left column */ 
  }
  
  .right-column {
    flex: 1;                   /* Takes up 1 part of the space */
    padding: 20px 20px 20px 20px;
  }

#social-media-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.social-icon {
  background-color: rgb(255, 255, 255);
  max-width: 40px;
  max-height: 40px;
  border-radius: 25%;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.5);
  background-color: rgb(126, 39, 39);
}


.customlist mat-icon {
  margin-right: 1%;
  vertical-align: middle;
  color: white;
}

.container p {
  color: white;
}


#profile-image{
  max-height: 80%;
  max-width: 100%;
  object-fit: contain;     /* ensures it doesn't stretch */
  border-radius: 50%;    /* makes it a perfect circle */
  background-color:#4e1d1d13;
}

#download-btn {
  margin-left: 20px;
  padding: 10px 20px;
  font-weight: bold;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  border-color: rgb(109, 30, 30);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
#download-btn:hover {
  color: white;
  background-color: #000;
  border-color: rgb(109, 30, 30);
}





/* Ipad air 820 x 1180 the image on right column cut off
   Galaxy Z Fold 5 344 x 882 project skills section right column cut off

*/

@media (max-width: 820px) {
  .left-column {   
    padding: 7% 50px 0px 50px;
    word-wrap: break-word; /* break long words */
    white-space: normal; /* allow wrapping */
  }
 
}

@media (max-width: 1024px) {
  .left-column {   
    padding: 7% 50px 0px 50px;
    word-wrap: break-word; /* break long words */
    white-space: normal; /* allow wrapping */
  }
}

@media (max-width: 344px) {
  #leftproject {   
    padding-left: 10px;
    word-wrap: break-word; /* break long words */
    white-space: normal; /* allow wrapping */
  }
  }





/* ========== Responsiveness Section ========== */



  @media (max-width: 768px) {
  .container {
    flex-direction: column;  /* Stack vertically on small screens */
  }

  .left-column {   
    padding: 7% 50px 0px 50px;
    word-wrap: break-word; /* break long words */
    white-space: normal; /* allow wrapping */
  }

  #contactcontainer{
    font-size: 17px;
  }
  #download-btn {
    margin-left: 10px;
    padding: 5px 10px;
    color: #000;
    border-radius: 10px;
    border-color: rgb(109, 30, 30);
  }

  

}











/* ========== Projects and Skills Section ========== */

#PSheader {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 15px 0;
  font-size: 50px;
}

#project-container {
  display: flex;
  flex-direction: column;
  background-color: #f7efe9;
  padding: 20px;
}

#projectmain-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
}

#leftproject {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  padding: 0 3% 0 50px;
}

.rightproject {
  flex: 3;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.rightproject mat-icon{
  color: #742d2d;
  vertical-align:middle;
}

.projects {
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding: 25px;
  background-color: black;
  border-radius: 10px 0px 10px 0px;
  box-shadow: 0px 0px 3px rgb(0, 0, 0), 0px 0px 0px 3px rgba(117, 48, 48, 0.226) inset;
  cursor: pointer;
  transition: 0.5s;
}

.projects:hover {
  transform: scale(1.05);
  background-color: #4b1616;
}






/* ========== Certifications Section ========== */

#certificationstitle{
  margin: 0px;
  color: white;
  padding: 50px 0 15px;
  font-size: 50px;
  text-align: center;
}
#card-containers{
  display: flex;
  justify-content: center; /* Center the cards horizontally */
  flex-wrap: wrap;         /* Allows cards to wrap to the next line */
  gap: 50px;
  padding: 50px;
}

.blog-card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', sans-serif;

}

.blog-image {
  max-width: 100%;         
  max-height: 180px;       
  object-fit:cover;   
  display: block;      
}

.blog-content {
  padding: 15px;
}

.blog-meta {
  font-size: 12px;
  color: gray;
  margin-bottom: 5px;
}

.blog-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.blog-description {
  font-size: 14px;
  font-family: 'Times New Roman', serif;
  color: #333;
}


/* Contact Section */

#contact-section {
  background-color: #f7efe9;
  padding: 60px 40px;
  font-family: 'Times New Roman', serif;
  color: #000;
}

#contactmeheader {
  font-size: 40px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.contact-description {
  padding: 10px;
  font-size: 20px;
  font-family: 'Times New Roman', serif;
  font-weight: lighter;
  max-width: 600px;
  color: #333;
}

#contact-info-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 30px;
  padding-left: 10px;
}

.contact-details {
  flex: 10%;
}

.contact-details h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.contact-details p {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0px 50px 0px;
}

.contact-details mat-icon{
  vertical-align: middle;
}








